<section class="proposition container">
    <h2 class="proposition__title">Buy 2 mugs and get a coffee magazine free</h2>
<div class="proposition__content">
        <div class="proposition__images">
        
            <div class="proposition__images__leftside">
                <img src="./images/propsition/book.jpg" class="proposition__item" alt="book" width="280 px">
            </div>
        
            <div class="proposition__images__rightside">
                <img src="./images/propsition/mug_hand.jpg" class="proposition__item" alt="mug and hand" width="160px">
                <img src="./images/propsition/mug.jpg" class="proposition__item" alt="mug and hand" width="160px">
            </div>
        </div>
        <div class="proposition__text">
            <h2 class="proposition__offerTitle">Premium offer</h2>
            <p class="proposition__maininfo">Get our Coffee Magazine</p>
            <p class="proposition__additionalInfo">The most versatile furniture system ever created. Designed to fit your life.</p>
            <button class="proposition__orderButton">Start shopping</button>
        </div>
</div>
</section>
